<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smtgfrn.smtgf.restoransiparis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Main_PageActivity" />
        <activity android:name=".RestaurantListActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RestaurantMenuActivity" />
        <activity android:name=".SiparisOzetActivity" />
        <activity android:name=".siparis_Yemek" />
        <activity android:name=".AdminMainPageActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".UrunEkleActivity" />
        <activity android:name=".UrunGuncelleActivity" />
        <activity android:name=".UrunSilActivity" />
        <activity android:name=".BilgileriDuzenleActivity" />
        <activity android:name=".AdminMenuGorActivity" />
        <activity android:name=".Bilgileri_Duzenle_KullaniciActivity" />
        <activity android:name=".Sifre_DegistirActivity"></activity>
    </application>

</manifest>